.main {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.stage1 {
  margin: 50px;
  border: 50px solid purple;
  color: aliceblue;
  width: 300px;
  height: 200px;
  text-align: center;
  padding: 50px;
}

.stage2 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(254, 252, 252);
  margin-top: 60px;
  background-color: purple;
  

.stage3 {
  font-size: 20px;
  font-weight: bold;
  background-color: aliceblue;
  color: black;
}
